*.iml
.gradle
!gradle-wrapper.jar
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/app/src/main/assets/milbank_info.json
/app/src/main/res/values/strings.xml

.idea/
gradle/
gradlew
gradlew.bat
settings.gradle
*.iml
